<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.find">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginAndRegister.MainActivity" />
        <activity android:name=".LoginAndRegister.LoginActivity" />
        <activity android:name=".LoginAndRegister.FindPasswordActivity" />
        <activity android:name=".LoginAndRegister.RegisterActivity" />
        <activity android:name=".LoginAndRegister.RegisterGetCaptchaActivity" />
        <activity android:name=".LoginAndRegister.UserInfoActivity" />
        <activity android:name=".LoginAndRegister.ChangePersonIntroduceActivity" />
        <activity
            android:name=".HomePage.HomePageActivity"
            android:launchMode="singleTask" />
        <activity android:name=".HomePage.TestActivity" />
        <activity android:name=".HomePage.ChatGroupActivity" />
        <activity android:name=".PersonSetting.PersonSettingActivity" />
        <activity android:name=".PersonSetting.PersonInfoChangeActivity" />
        <activity android:name=".PersonSetting.ChangeHeadActivity" />
        <activity android:name=".PersonSetting.SchoolActivity" />
        <activity android:name=".PersonSetting.PublicSchoolActivity" />
        <activity android:name=".PersonSetting.MyActivityActivity" />
        <activity android:name=".PersonSetting.OverActivity" />
        <activity android:name=".PersonSetting.SystemSettingActivity" />
        <activity android:name=".PersonSetting.AccountSafeActivity" />
        <activity android:name=".PersonSetting.BindTelephoneActivity" />
        <activity android:name=".PersonSetting.SettingCaptchaActivity" />
        <activity android:name=".PersonSetting.BindSuccessActivity" />
        <activity android:name=".PersonSetting.PwdChangeActivity" />
        <activity android:name=".PersonSetting.SetNewPwdActivity" />
        <activity android:name=".PersonSetting.SetPwdSuccessActivity" />
        <activity android:name=".PersonSetting.PrivacyActivity" />
        <activity android:name=".PersonSetting.NoticeSettingActivity" />
        <activity android:name=".PersonSetting.ResponseActivity" />
        <activity android:name=".PersonSetting.AboutActivity" />
        <activity android:name=".HomePage.UserActivity" />
        <activity android:name=".HomePage.TopicActivity" />
        <activity android:name=".HomePage.ChatActivity" />
        <activity android:name=".HomePage.PostDetailActivity" />
        <activity android:name=".HomePage.MoreActivity" />
        <activity android:name=".HomePage.ActicityActivity"></activity>
        <activity android:name=".HomePage.JoinActivtyListActivity">
        </activity>
        <activity android:name=".HomePage.SeePictureActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>